.hamburger,.menu-item {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .hamburger {
    position: fixed;
    z-index: 1001;
    right: 2rem;
    top: 1rem;
  }

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
  }


  @media (max-width: 600px) {
    .nav-bar {
      display: none;
    }
  
    .hamburger,.menu-item  {
      display: block;
    }
  
    .menu {
    //   width: fit-content;
      display: flex;
      position: fixed;
      flex-direction: column;
      top: 60px;
      right: 0;
      background: linear-gradient(to right, #FEFAF6, #DAC0A3);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 1rem 2rem;
      z-index: 1000;
    }
  
    .menu-item {
      padding: 1rem 0;
      text-decoration: none;
      color: #000;
      font-weight: 500;
      border-bottom: 1px solid #000;
    }
    .menu-item:hover{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        font-weight: $font-weight-bold;
    }
  
    .menu-item:last-child {
      border-bottom: none;
    }
  }

