.contactMe{
    padding: 100px 0 20px 0;
    .aboutMe {
        margin: 0rem !important;
      }
      .btn {
        color: rgba(249, 237, 229, 1);
        // color: #DAC0A3;
        padding: 5px 10px;
      }
      .btn:hover{
        color: black;
      }
}
.contactMe-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 730px) {
        gap:20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  }